body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img {
    width: 1200px;
}

main {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 10vw;
}

.cabecalho-menu ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding-top: 1vh;
}

.cabecalho-menu ul li {
    padding: 1vw;
}

.cabecalho-menu ul li a {
    text-decoration: none;
}

h1 {
    font-size: 6vw;
}

.conteudo_principal {}